<h2>Welcome to waytogeek</h2><hr/>

<%= link_to "New Student", students_new_path, class: "btn btn-success"%>

<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email </th>
    <th>Phone Number</th>
    <th>Bio Data</th>
    <th>Gender</th>
  </tr>
  
  <% @students.each do |student|%>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.frist_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.email %></td>
      <td><%= student.phone_number %></td>
      <td><%= student.bio_data %></td>
      <td>
        <% if student.gender == true %>
          Male
        <% else %>
          Female 
        <% end %>  
      </td>
    </tr>
  <% end %>
  
  
</table>


